#imagem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%;
    object-fit: cover;
}

#carouselExampleIndicators {
    height: 100%;

}
#content {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: calc(100vh - 90px);
    margin-top: 90px;
    margin-left: 50% !important;
    display: flex;
    align-items: center;
}
#content-box {
    width: 500px !important;
    margin: auto !important;
    background-color: var(--cor2T);
}
#content p {
    color: var(--cor5);
    text-align: center;
    padding: 20px;
    font-size: 2em;
}