@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --cor1: #0896f7;
    --cor2: #8335f1;
    --cor3: #331d69;
    --cor4: #043f66;
    --cor5: #040225;

    --fonte1: 'Lilita One';
    --fonte2: 'Roboto';
}

#header {
    height: 110px;
    text-align: right;
    padding: 10px 20px;
    background-color: var(--cor5) !important;
}
#header a {
    width: 170px;
    height: 60px;
    font-size: 30px;
}
#header p {
    margin: 0;
    height: 25px;
    line-height: 26px;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#logo-nav {
    height: 100%;
    display: flex;
    align-items: center;
    font-family: var(--fonte1);
    font-size: 2.2em;
    gap: 5px;
    user-select: none;
}
#img-logo-nav {
    height: 100%;
}
#itens-nav {
    display: flex;
    justify-content: right;
    font-size: 1.2em;
    font-family: var(--fonte1);
}

.nav-link {
    color: var(--cor4) !important;
    text-align: center;
    width: 120px;
}
.nav-link:hover {
    color: var(--cor3) !important;
}
.nav-link.active {
    color: var(--cor1) !important;
    background-color: var(--cor4);
    border-radius: 10px;
}

main {
    height: calc(100vh - 110px);
    margin-top: 110px;
}